.hero-container {
  min-height: 70vh;
  background:
    /* radial-gradient(
      circle at 80% 30%,
      rgba(120, 8, 20, 0.6) 0%,
      transparent 45%
    ),
    radial-gradient(
      circle at 15% 85%,
      rgba(120, 20, 20, 0.25) 0%,
      transparent 35%
    ),
    linear-gradient(
      135deg,
      #000000 0%,
      #050505 50%,
      #0b0b0b 100%
    ); */
    linear-gradient(135deg, #041938, #1c5098)
}

.hero-content {
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.08);
}